.List {
  border-radius: 8px;
  padding: 10px;
  background-color: black;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.List_Filters {
  display: flex;
  min-height: 50px;
  align-items: end;
  justify-content: center;
}

.List_Filters_Left {
  width: 33%;
  display: flex;
  justify-content: center;
}

.List_Filters_Filter {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.lightEl:hover {
  color: grey;
  font-weight: bold;
}

.darkEl:hover {
  color: white;
  font-weight: bold;
}

.List_Filters_Clear {
  width: 33%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .List {
    font-size: 0.8rem;
  }

  .List_Filters_Filter {
    position: absolute;
    bottom: -80px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }

  .List_Filters {
    justify-content: space-around;
  }

  .lightUl {
    background-color: hsl(0, 0%, 98%);
  }
  .darkUl {
    background-color: hsl(235, 24%, 19%);
  }
}
